<!DOCTYPE html>
<html>
<head>
    <title>Explain Elasticsearch</title>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/autosize.min.js"></script>
    <script src="/js/jquery.typewatch.js"></script>
    <script src="/js/submit.js"></script>

    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <aside>
        <hgroup>
            <h3>Explain Elasticsearch</h3>
            <h4>by <a href="http://nico.is" target="_blank">Nico Knoll</a></h4>
        </hgroup>
        <p>Coming soon.</p>
    </aside>

    <section id="explanation-json-wrapper">
        <textarea name="explanation-json" id="explanation-json" placeholder="Enter your elasticsearch result explain json."></textarea>
    </section>

    <div class="action-wrapper">
        <a class="btn btn-info">i</a>

        <a class="btn btn-submit">Continue</a>
        <a class="btn btn-edit">Edit</a>
    </div>

    <section id="result">
        <div class="slide-control">
            <a class="slide-down-all" href="">Open all</a>
            <a class="slide-up-all" href="">Close all</a>
        </div>
        <div class="list-wrapper"></div>
    </section>
</body>
</html>
